@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

html {
  scroll-behavior: smooth;
}

.bg-gradient-primary {
  background: linear-gradient(to right, #8e44ad, #3498db);
}

.text-gradient-primary {
  background: linear-gradient(to right, #8e44ad, #3498db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}